<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Santa Julia Freigh Services LLC</title>

  <link href="css/Master.css" rel=" stylesheet">

  <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"> -->


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/main.css">
</head>
<!-- <link link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->

 

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Diesel</a>
   
  </nav>
  <a >Periodo 32 (Miercoles 27 Julio- Martes 02 Agosto)
  </a>
</body>
<% include ./static/sidebar %>
  <div class="container">
    <container class="cuerpo">
      <form action="/addDiesel"  method="post">
        <br><br><br>
      
          
          
      
      <br>
      <label for="semana">Period:</label><br>
      <input type="number" id="week" name="week" placeholder="week"  required><br><br>
      
        <input type="text" id="Username" name="username" placeholder="" value="<%=user.username;%>" hidden><br><br>
        <label for="Invoice">Invoice:</label><br>
        <input type="text" id="Invoice" name="Invoice" placeholder="Invoice" value="" required><br><br>
        <label for="Fecha">Date:</label><br>
        <input type="date" id="Fecha" name="Date" placeholder="Date" value="" require><br><br>
        <label for="Tienda">Store:</label><br>
        <input type="text" id="Store" name="Store" placeholder="Store"  required><br><br>
        <label for="Millas">Miles:</label><br>
        <input type="number" step="0.001" id="Miles" name="Miles" placeholder="Miles"  required><br><br>
        <label for="Galones">Gallons:</label><br>
        <input type="number" step="0.001"id="Gallons" name="Gallons" placeholder="Gallons"  required><br><br>
        <label for="Costo">Amount:</label><br>
        <input type="number" step="0.001" id="Amount" name="Amount" placeholder="Amount"  required><br><br>
      

       
        <button type="submit" class="btn btn-primary">
          Confirmar
        </button>
      </form>
    </container>
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-12">
              <br><br>
              <!-- <form action="/buscar" method="post"> <input type="number" placeholder="Semana" id="txtBuscar"
                      name="txtBuscar">
                  <button type="submit">Buscar</button> -->

              </form>
      
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <!-- <th>id</th> -->
                          <th># </th>
                          <th>Week</th>
                          <th>username</th>
                          <th>Invoice</th>
                          <th>Date</th>
                          <th>Store</th>
                          <th>Miles</th>
                          <th>Gallons</th>
                          <th>Amount</th>
                          

                      </tr>
                  </thead>
                  <tbody>

                      <%if (data1){%>
                          <%=console.log(data1.length);%>

                              <%for(var i=0;i < data1.length;i++){ %>

                                  <%let fechaMoment=(moment(data1[i].date)); const dformat='YYYY-MM-DD' ; let
                                      fechamiformato=fechaMoment.format(dformat);%>

                                      <tr>
                                    
                                          <td>
                                            <%=(i+1)%>
                                        </td>
                                          <td>
                                              <%= data1[i].week%>
                                          </td>
                                          <td>
                                              <%= data1[i].username%>
                                          </td>
                                          <td>
                                            <%= data1[i].Invoice%>
                                        </td>
                                          <td>
                                              <%= fechamiformato%>
                                          </td>
                                         
                                          <td>
                                              <%= data1[i].Store%>
                                          </td>
                                          <td>
                                              <%= data1[i].Miles%>
                                          </td>
                                          <td>
                                              <%= data1[i].Gallons%>
                                          </td>
                                          <td>
                                              <%= data1[i].Amount%>
                                          </td>

                                          
                                        


                                      </tr>
                                      <%}%>
                                          <%}%>

                  </tbody>
              </table>

          </div>
        </div>
      </div>
    
</div>

  <% include ./static/footer %>
    <!-- //ltp166 34,58 -->