<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Viajes</title>

    <link href="css/Master.css" rel=" stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"> -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
</head>
<!-- <link link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->

 

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">SANTA JULIA FREIGHT SERVICES LLC</a>
    </nav>

</body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%=data.Id%>" method="post">
                        <div class=" form-group">
                            <input type="text" id="Username" name="username" placeholder="" value="<%=data.username;%>"
                                hidden>
                            </div>
                            <label for="Truck">Truck:</label><br>
                            <div class=" form-group">
                                <input type="number" id="Truck" name="Truck" placeholder="Truck" value="<%=data.Truck;%>"
                                    required>
                            </div>
                        </div>
                        <label for="Semana">Week:</label><br>
                        <div class=" form-group">
                            <input type="number" id="week" name="Week" placeholder="Semana" value="<%=data.week;%>"
                                required>
                        </div>
                        <label for="Fecha">Fecha:</label><br>
                        <div class=" form-group">
                            <%let fechaMoment=(moment(data.date)); const dformat='YYYY-MM-DD' ; let
                                fechamiformato=fechaMoment.format(dformat); console.log(fechamiformato);%>
                                <input type="text" id="Fecha" name="date" placeholder="'YYYY-MM-DD'"
                                    value="<%=fechamiformato%>" required>
                        </div>
                        <label for="BOL">BOL:</label><br>
                        <div class=" form-group">
                            <input type="text" id="BOL" name="bol" placeholder="TKT/BOL" value="<%=data.bol;%>"
                                required>
                        </div>
                        <label for="Peso">Peso:</label><br>
                        <div class=" form-group">
                            <input type="number" step="0.001" id="Peso" name="weight" placeholder="Weight"
                                value="<%=data.weight;%>" required>
                        </div>
                        <div class=" form-group">
                            <label for="tipo">Ton/Pound:</label><br>
                            <select name="type">
                                <option value="Ton">Ton</option>
                                <option value="Pound">Pound</option>
                            </select>
                        </div>
                        <label for="Millas">Miles:</label><br>
                        <div class=" form-group">
                            <input type="number" step="0.001" id="Distancia" name="miles" placeholder="Miles"
                                value="<%=data.miles;%>" required>
                        </div>
                        <label for="Destino">Load Facility:</label><br>
                        <div class=" form-group">
                            <input type="text" id="Destino" name="load_facility" placeholder=""
                                value="<%=data.load_facility;%>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Actualizar datos
                        </button> <a href="/ver">Regresar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="/moment/min/moment.min.js"></script>

</html>